.blog {
  padding-top: toRem(80);

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__title {
  }
  &__img-link {
    margin-bottom: toRem(80);
  }
  &__img {
    width: calc(100vw - toRem(30));
    max-width: toRem(320);
  }
  &__link {
    width: toRem(300);
    height: toRem(48);
    padding: toRem(16);
    border-radius: toRem(16);
    text-align: center;
    background-color: var(--bg-accent);
  }
}
