:root {
  --primary: #0a9396;
  --secondary: #94d2bd;
  --accent: #e6ce14;
  --inverse: #ffff3f;

  --bg-primary: #ffffff;
  --bg-secondary: #2f303a;
  --bg-accent: #e6ce14;
  --bg-inverse: #ffff3f;
  --bg-transparent: #2f303a50;
  --bg-accent-transparent: #e6ce14d0;

  --text-primary: #ffffff;
  --text-secondary: #757575;
  --text-accent: #ffff3f;
  --text-inverse: #e8eddf;

  --container-width: $containerWidth;
}
