:root {
  --primary: #0a9396;
  --secondary: #94d2bd;
  --accent: #e6ce14;
  --inverse: #ffff3f;

  --bg-primary: #242423;
  --bg-secondary: #2f303a;
  --bg-accent: #4cc9f0;
  --bg-inverse: #2d00f7;

  --text-primary: #ffffff;
  --text-secondary: #757575;
  --text-accent: #ffff3f;
  --text-inverse: #e8eddf;
}
