:root {
  --primary: #0a9396;
  --secondary: #94d2bd;
  --accent: #fbe115;
  --inverse: #ffff3f;
  --transparent: #ffffff00;

  --bg-primary: #ffffff;
  --bg-secondary: #ebebeb;
  --bg-accent: #fbe115;
  --bg-inverse: #2f303a;
  --bg-transparent: #ffffff00;
  --bg-accent-transparent: #fbe115d0;

  --text-primary: #000000;
  --text-secondary: #757575;
  --text-accent: #fbe115;
  --text-inverse: #ffffff;

  --container-width: $containerWidth;
}
